.elementor-kit-12 {
    --e-global-color-primary: #1C2A4D;
    --e-global-color-secondary: #F3FFFE;
    --e-global-color-text: #8B8B8B;
    --e-global-color-accent: #EE3235;
    --e-global-color-cf4575c: #1C2A4D;
    --e-global-color-27e1996: #8B8B8B;
    --e-global-color-0673f0f: #253768;
    --e-global-color-e0edcf9: #14244E;
    --e-global-color-d5b75b0: #F3FFFE;
    --e-global-typography-primary-font-family: "Lato";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Source Sans Pro";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Source Sans Pro";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Source Sans Pro";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-e8e3809-font-family: "Lato";
    --e-global-typography-e8e3809-font-size: 68px;
    --e-global-typography-e8e3809-font-weight: 900;
    --e-global-typography-e8e3809-text-transform: capitalize;
    --e-global-typography-e8e3809-line-height: 1em;
    --e-global-typography-de36065-font-family: "Source Sans Pro";
    --e-global-typography-de36065-font-size: 18px;
    --e-global-typography-de36065-font-weight: 400;
    --e-global-typography-8e4b7d6-font-family: "Source Sans Pro";
    --e-global-typography-8e4b7d6-font-size: 16px;
    --e-global-typography-8e4b7d6-font-weight: 400;
    --e-global-typography-8e4b7d6-line-height: 1em;
    --e-global-typography-8e4b7d6-letter-spacing: 0.2px;
    --e-global-typography-89c78e7-font-family: "Lato";
    --e-global-typography-89c78e7-font-size: 24px;
    --e-global-typography-89c78e7-font-weight: 800;
    --e-global-typography-89c78e7-line-height: 1em;
    --e-global-typography-b4828a3-font-family: "Lato";
    --e-global-typography-b4828a3-font-size: 34px;
    --e-global-typography-b4828a3-font-weight: 800;
    --e-global-typography-b4828a3-text-transform: capitalize;
    --e-global-typography-b4828a3-line-height: 1em;
    --e-global-typography-67538df-font-family: "Lato";
    --e-global-typography-67538df-font-size: 42px;
    --e-global-typography-67538df-font-weight: 800;
    --e-global-typography-67538df-line-height: 1.2em;
    --e-global-typography-bf1676a-font-family: "Lato";
    --e-global-typography-bf1676a-font-size: 20px;
    --e-global-typography-bf1676a-font-weight: 600;
    --e-global-typography-bf1676a-font-style: normal;
    --e-global-typography-bf1676a-line-height: 1.4em;
    --e-global-typography-b99dfec-font-family: "Source Sans Pro";
    --e-global-typography-b99dfec-font-size: 18px;
    --e-global-typography-b99dfec-font-weight: 600;
    --e-global-typography-1283316-font-family: "Lato";
    --e-global-typography-1283316-font-size: 52px;
    --e-global-typography-1283316-font-weight: 800;
    --e-global-typography-1283316-line-height: 1.2em;
    --e-global-typography-53f914d-font-family: "Source Sans Pro";
    --e-global-typography-53f914d-font-size: 16px;
    --e-global-typography-53f914d-font-weight: 400;
    --e-global-typography-53f914d-text-transform: capitalize;
    --e-global-typography-a9f9407-font-family: "Source Sans Pro";
    --e-global-typography-a9f9407-font-size: 14px;
    --e-global-typography-a9f9407-font-weight: 400;
    --e-global-typography-a9f9407-text-transform: capitalize;
    --e-global-typography-5decfa9-font-family: "Lato";
    --e-global-typography-5decfa9-font-size: 200px;
    --e-global-typography-5decfa9-font-weight: 900;
    --e-global-typography-5decfa9-text-transform: capitalize;
    --e-global-typography-5decfa9-line-height: 1em;
    --e-global-typography-2926070-font-family: "Lato";
    --e-global-typography-2926070-font-size: 28px;
    --e-global-typography-2926070-font-weight: 800;
    --e-global-typography-2926070-text-transform: capitalize;
    --e-global-typography-2926070-line-height: 1em;
    color: var( --e-global-color-cf4575c);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-kit-12 a {
    color: var( --e-global-color-0673f0f);
}

.elementor-kit-12 h1 {
    color: var( --e-global-color-cf4575c);
    font-family: var( --e-global-typography-e8e3809-font-family), Sans-serif;
    font-size: var( --e-global-typography-e8e3809-font-size);
    font-weight: var( --e-global-typography-e8e3809-font-weight);
    text-transform: var( --e-global-typography-e8e3809-text-transform);
    line-height: var( --e-global-typography-e8e3809-line-height);
    letter-spacing: var( --e-global-typography-e8e3809-letter-spacing);
    word-spacing: var( --e-global-typography-e8e3809-word-spacing);
}

.elementor-kit-12 h2 {
    color: var( --e-global-color-cf4575c);
    font-family: var( --e-global-typography-67538df-font-family), Sans-serif;
    font-size: var( --e-global-typography-67538df-font-size);
    font-weight: var( --e-global-typography-67538df-font-weight);
    line-height: var( --e-global-typography-67538df-line-height);
    letter-spacing: var( --e-global-typography-67538df-letter-spacing);
    word-spacing: var( --e-global-typography-67538df-word-spacing);
}

.elementor-kit-12 h3 {
    color: var( --e-global-color-cf4575c);
    font-family: var( --e-global-typography-b4828a3-font-family), Sans-serif;
    font-size: var( --e-global-typography-b4828a3-font-size);
    font-weight: var( --e-global-typography-b4828a3-font-weight);
    text-transform: var( --e-global-typography-b4828a3-text-transform);
    line-height: var( --e-global-typography-b4828a3-line-height);
    letter-spacing: var( --e-global-typography-b4828a3-letter-spacing);
    word-spacing: var( --e-global-typography-b4828a3-word-spacing);
}

.elementor-kit-12 h4 {
    color: var( --e-global-color-cf4575c);
    font-family: var( --e-global-typography-2926070-font-family), Sans-serif;
    font-size: var( --e-global-typography-2926070-font-size);
    font-weight: var( --e-global-typography-2926070-font-weight);
    text-transform: var( --e-global-typography-2926070-text-transform);
    line-height: var( --e-global-typography-2926070-line-height);
    letter-spacing: var( --e-global-typography-2926070-letter-spacing);
    word-spacing: var( --e-global-typography-2926070-word-spacing);
}

.elementor-kit-12 h5 {
    color: var( --e-global-color-cf4575c);
    font-family: var( --e-global-typography-89c78e7-font-family), Sans-serif;
    font-size: var( --e-global-typography-89c78e7-font-size);
    font-weight: var( --e-global-typography-89c78e7-font-weight);
    line-height: var( --e-global-typography-89c78e7-line-height);
    letter-spacing: var( --e-global-typography-89c78e7-letter-spacing);
    word-spacing: var( --e-global-typography-89c78e7-word-spacing);
}

.elementor-kit-12 h6 {
    color: var( --e-global-color-cf4575c);
    font-family: var( --e-global-typography-bf1676a-font-family), Sans-serif;
    font-size: var( --e-global-typography-bf1676a-font-size);
    font-weight: var( --e-global-typography-bf1676a-font-weight);
    font-style: var( --e-global-typography-bf1676a-font-style);
    line-height: var( --e-global-typography-bf1676a-line-height);
    letter-spacing: var( --e-global-typography-bf1676a-letter-spacing);
    word-spacing: var( --e-global-typography-bf1676a-word-spacing);
}

.elementor-kit-12 button,
.elementor-kit-12 input[type="button"],
.elementor-kit-12 input[type="submit"],
.elementor-kit-12 .elementor-button {
    font-family: var( --e-global-typography-8e4b7d6-font-family), Sans-serif;
    font-size: var( --e-global-typography-8e4b7d6-font-size);
    font-weight: var( --e-global-typography-8e4b7d6-font-weight);
    line-height: var( --e-global-typography-8e4b7d6-line-height);
    letter-spacing: var( --e-global-typography-8e4b7d6-letter-spacing);
    word-spacing: var( --e-global-typography-8e4b7d6-word-spacing);
    color: #FFFFFF;
    background-color: var( --e-global-color-0673f0f);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 10px 10px 10px 10px;
    padding: 18px 30px 18px 30px;
}

.elementor-kit-12 button:hover,
.elementor-kit-12 button:focus,
.elementor-kit-12 input[type="button"]:hover,
.elementor-kit-12 input[type="button"]:focus,
.elementor-kit-12 input[type="submit"]:hover,
.elementor-kit-12 input[type="submit"]:focus,
.elementor-kit-12 .elementor-button:hover,
.elementor-kit-12 .elementor-button:focus {
    background-color: var( --e-global-color-e0edcf9);
}

.elementor-kit-12 label {
    color: var( --e-global-color-cf4575c);
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.8em;
}

.elementor-kit-12 input:not([type="button"]):not([type="submit"]),
.elementor-kit-12 textarea,
.elementor-kit-12 .elementor-field-textual {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-27e1996);
    border-style: solid;
    border-color: #DFDFDF;
    border-radius: 10px 10px 10px 10px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-12 e-page-transition {
    background-color: #FFBC7D;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

@media(max-width:1024px) {
    .elementor-kit-12 {
        --e-global-typography-e8e3809-font-size: 60px;
        --e-global-typography-de36065-font-size: 17px;
        --e-global-typography-b4828a3-font-size: 28px;
        --e-global-typography-5decfa9-font-size: 150px;
        --e-global-typography-2926070-font-size: 28px;
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-12 h1 {
        font-size: var( --e-global-typography-e8e3809-font-size);
        line-height: var( --e-global-typography-e8e3809-line-height);
        letter-spacing: var( --e-global-typography-e8e3809-letter-spacing);
        word-spacing: var( --e-global-typography-e8e3809-word-spacing);
    }
    .elementor-kit-12 h2 {
        font-size: var( --e-global-typography-67538df-font-size);
        line-height: var( --e-global-typography-67538df-line-height);
        letter-spacing: var( --e-global-typography-67538df-letter-spacing);
        word-spacing: var( --e-global-typography-67538df-word-spacing);
    }
    .elementor-kit-12 h3 {
        font-size: var( --e-global-typography-b4828a3-font-size);
        line-height: var( --e-global-typography-b4828a3-line-height);
        letter-spacing: var( --e-global-typography-b4828a3-letter-spacing);
        word-spacing: var( --e-global-typography-b4828a3-word-spacing);
    }
    .elementor-kit-12 h4 {
        font-size: var( --e-global-typography-2926070-font-size);
        line-height: var( --e-global-typography-2926070-line-height);
        letter-spacing: var( --e-global-typography-2926070-letter-spacing);
        word-spacing: var( --e-global-typography-2926070-word-spacing);
    }
    .elementor-kit-12 h5 {
        font-size: var( --e-global-typography-89c78e7-font-size);
        line-height: var( --e-global-typography-89c78e7-line-height);
        letter-spacing: var( --e-global-typography-89c78e7-letter-spacing);
        word-spacing: var( --e-global-typography-89c78e7-word-spacing);
    }
    .elementor-kit-12 h6 {
        font-size: var( --e-global-typography-bf1676a-font-size);
        line-height: var( --e-global-typography-bf1676a-line-height);
        letter-spacing: var( --e-global-typography-bf1676a-letter-spacing);
        word-spacing: var( --e-global-typography-bf1676a-word-spacing);
    }
    .elementor-kit-12 button,
    .elementor-kit-12 input[type="button"],
    .elementor-kit-12 input[type="submit"],
    .elementor-kit-12 .elementor-button {
        font-size: var( --e-global-typography-8e4b7d6-font-size);
        line-height: var( --e-global-typography-8e4b7d6-line-height);
        letter-spacing: var( --e-global-typography-8e4b7d6-letter-spacing);
        word-spacing: var( --e-global-typography-8e4b7d6-word-spacing);
    }
    .elementor-kit-12 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-12 textarea,
    .elementor-kit-12 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-12 {
        --e-global-typography-e8e3809-font-size: 37px;
        --e-global-typography-de36065-font-size: 16px;
        --e-global-typography-b4828a3-font-size: 26px;
        --e-global-typography-67538df-font-size: 23px;
        --e-global-typography-bf1676a-font-size: 16px;
        --e-global-typography-1283316-font-size: 23px;
        --e-global-typography-5decfa9-font-size: 100px;
        --e-global-typography-2926070-font-size: 26px;
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-12 h1 {
        font-size: var( --e-global-typography-e8e3809-font-size);
        line-height: var( --e-global-typography-e8e3809-line-height);
        letter-spacing: var( --e-global-typography-e8e3809-letter-spacing);
        word-spacing: var( --e-global-typography-e8e3809-word-spacing);
    }
    .elementor-kit-12 h2 {
        font-size: var( --e-global-typography-67538df-font-size);
        line-height: var( --e-global-typography-67538df-line-height);
        letter-spacing: var( --e-global-typography-67538df-letter-spacing);
        word-spacing: var( --e-global-typography-67538df-word-spacing);
    }
    .elementor-kit-12 h3 {
        font-size: var( --e-global-typography-b4828a3-font-size);
        line-height: var( --e-global-typography-b4828a3-line-height);
        letter-spacing: var( --e-global-typography-b4828a3-letter-spacing);
        word-spacing: var( --e-global-typography-b4828a3-word-spacing);
    }
    .elementor-kit-12 h4 {
        font-size: var( --e-global-typography-2926070-font-size);
        line-height: var( --e-global-typography-2926070-line-height);
        letter-spacing: var( --e-global-typography-2926070-letter-spacing);
        word-spacing: var( --e-global-typography-2926070-word-spacing);
    }
    .elementor-kit-12 h5 {
        font-size: var( --e-global-typography-89c78e7-font-size);
        line-height: var( --e-global-typography-89c78e7-line-height);
        letter-spacing: var( --e-global-typography-89c78e7-letter-spacing);
        word-spacing: var( --e-global-typography-89c78e7-word-spacing);
    }
    .elementor-kit-12 h6 {
        font-size: var( --e-global-typography-bf1676a-font-size);
        line-height: var( --e-global-typography-bf1676a-line-height);
        letter-spacing: var( --e-global-typography-bf1676a-letter-spacing);
        word-spacing: var( --e-global-typography-bf1676a-word-spacing);
    }
    .elementor-kit-12 button,
    .elementor-kit-12 input[type="button"],
    .elementor-kit-12 input[type="submit"],
    .elementor-kit-12 .elementor-button {
        font-size: var( --e-global-typography-8e4b7d6-font-size);
        line-height: var( --e-global-typography-8e4b7d6-line-height);
        letter-spacing: var( --e-global-typography-8e4b7d6-letter-spacing);
        word-spacing: var( --e-global-typography-8e4b7d6-word-spacing);
    }
    .elementor-kit-12 input:not([type="button"]):not([type="submit"]),
    .elementor-kit-12 textarea,
    .elementor-kit-12 .elementor-field-textual {
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
}